<component name="ProjectRunConfigurationManager">
    <configuration default="false" name="SpringbootSessionApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
        <option name="ACTIVE_PROFILES"/>
        <module name="springboot-session"/>
        <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.springbootsession.SpringbootSessionApplication"/>
        <method v="2">
            <option name="Make" enabled="true"/>
        </method>
    </configuration>
</component>
